In [1]:
import pandas as pd
import requests

In [2]:
# 1번부터 20000번까지

url1 = "https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw=7&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc&start=0&length=100&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1616898468079"
url1

'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw=7&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc&start=0&length=100&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1616898468079'

In [3]:
# 20001번부터 끝까지

url2 = "https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw=6&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc&start=0&length=100&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1616898468072"
url2

'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw=6&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc&start=0&length=100&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1616898468072'

In [4]:
respons = requests.get(url2)
data_json = respons.json()
pd.DataFrame(data_json['data'])

,0,1,2,3,4,5,6
0,<p class='corona19_no'>31624</p>,101749,2021-03-27,타시도,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>31623</p>,101745,2021-03-27,광진구,-,기타 확진자 접촉,<b class=''></b>
2,<p class='corona19_no'>31622</p>,101744,2021-03-27,광진구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>31621</p>,101725,2021-03-27,동작구,-,감염경로 조사중,<b class=''></b>
4,<p class='corona19_no'>31620</p>,101727,2021-03-27,타시도,-,타시도 확진자 접촉,<b class=''></b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>31529</p>,101367,2021-03-27,노원구,-,타시도 확진자 접촉,<b class='status2'></b>
96,<p class='corona19_no'>31528</p>,101583,2021-03-27,종로구,-,타시도 확진자 접촉,<b class='status2'></b>
97,<p class='corona19_no'>31527</p>,101720,2021-03-27,서초구,-,기타 확진자 접촉,<b class='status2'></b>
98,<p class='corona19_no'>31526</p>,101457,2021-03-27,도봉구,-,기타 확진자 접촉,<b class='status2'></b>
99,<p class='corona19_no'>31525</p>,101452,2021-03-27,동대문구,-,송파구 소재 종교시설 관련('21.3.),<b class='status2'></b>

In [5]:
records_total = data_json['recordsTotal']
records_total

11624

In [6]:
end_page = round(records_total / 100) +1
end_page

117

In [7]:
data = data_json['data']
pd.DataFrame(data)

,0,1,2,3,4,5,6
0,<p class='corona19_no'>31624</p>,101749,2021-03-27,타시도,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>31623</p>,101745,2021-03-27,광진구,-,기타 확진자 접촉,<b class=''></b>
2,<p class='corona19_no'>31622</p>,101744,2021-03-27,광진구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>31621</p>,101725,2021-03-27,동작구,-,감염경로 조사중,<b class=''></b>
4,<p class='corona19_no'>31620</p>,101727,2021-03-27,타시도,-,타시도 확진자 접촉,<b class=''></b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>31529</p>,101367,2021-03-27,노원구,-,타시도 확진자 접촉,<b class='status2'></b>
96,<p class='corona19_no'>31528</p>,101583,2021-03-27,종로구,-,타시도 확진자 접촉,<b class='status2'></b>
97,<p class='corona19_no'>31527</p>,101720,2021-03-27,서초구,-,기타 확진자 접촉,<b class='status2'></b>
98,<p class='corona19_no'>31526</p>,101457,2021-03-27,도봉구,-,기타 확진자 접촉,<b class='status2'></b>
99,<p class='corona19_no'>31525</p>,101452,2021-03-27,동대문구,-,송파구 소재 종교시설 관련('21.3.),<b class='status2'></b>

In [8]:
# 한 page씩 가져오는 함수(1~20000)

def get_seoul_covid19_1(page_no):
    start_no = (page_no - 1) * 100
    url = f"https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw={page_no}&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc&start={start_no}&length=100&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1616898468079"
    response = requests.get(url)
    data_json = response.json()
    return data_json

In [9]:
# 한 page씩 가져오는 함수(20001~)

def get_seoul_covid19_2(page_no):
    start_no = (page_no - 1) * 100
    url = f"https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw={page_no}&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc&start={start_no}&length=100&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1616898468072"
    response = requests.get(url)
    data_json = response.json()
    return data_json

In [10]:
import time
from tqdm import trange

In [11]:
# 일부 페이지만 가져와서 오류 없는지 확인

page_list = []
all_page = 3
for page_no in trange(all_page + 1):
    one_page = get_seoul_covid19_2(page_no)
    if len(one_page['data']) > 0:
        one_page = pd.DataFrame(one_page['data'])
        page_list.append(one_page)
# 서버에 부담을 줄 수 잇기 때문에 시차를 둔다
        time.sleep(0.5)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:02<00:00,  1.61it/s]

In [12]:
pd.concat(page_list)

,0,1,2,3,4,5,6
0,<p class='corona19_no'>31624</p>,101749,2021-03-27,타시도,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>31623</p>,101745,2021-03-27,광진구,-,기타 확진자 접촉,<b class=''></b>
2,<p class='corona19_no'>31622</p>,101744,2021-03-27,광진구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>31621</p>,101725,2021-03-27,동작구,-,감염경로 조사중,<b class=''></b>
4,<p class='corona19_no'>31620</p>,101727,2021-03-27,타시도,-,타시도 확진자 접촉,<b class=''></b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>31329</p>,100614,2021-03-25,서초구,-,서초구 소재 종교시설 관련(\'21.3.),<b class=''></b>
96,<p class='corona19_no'>31328</p>,100624,2021-03-25,강북구,-,타시도 확진자 접촉,<b class=''></b>
97,<p class='corona19_no'>31327</p>,100587,2021-03-25,마포구,-,영등포구 소재 빌딩 관련,<b class=''></b>
98,<p class='corona19_no'>31326</p>,100595,2021-03-25,관악구,-,관악구 소재 직장(‘21년 3월(2)) 관련,<b class=''></b>
99,<p class='corona19_no'>31325</p>,100583,2021-03-25,타시도,-,감염경로 조사중,<b class=''></b>

In [13]:
def get_multi_page1(start_page, end_page):
    page_list1 = []
    for page_no in trange(start_page, end_page + 1):
        one_page = get_seoul_covid19_1(page_no)
        if len(one_page['data']) > 0:
            one_page = pd.DataFrame(one_page['data'])
            page_list1.append(one_page)
# 서버에 부담을 줄 수 잇기 때문에 시차를 둔다
            time.sleep(0.5)
        else:
            return page_list1
    return page_list1

In [14]:
def get_multi_page2(start_page, end_page):
    page_list2 = []
    for page_no in trange(start_page, end_page + 1):
        one_page = get_seoul_covid19_2(page_no)
        if len(one_page['data']) > 0:
            one_page = pd.DataFrame(one_page['data'])
            page_list2.append(one_page)
# 서버에 부담을 줄 수 잇기 때문에 시차를 둔다
            time.sleep(0.5)
        else:
            return page_list2
    return page_list2

In [15]:
page_list1 = get_multi_page1(start_page = 1, end_page = 200)

100%|████████████████████████████████████████████████████████████████████████████████| 200/200 [02:56<00:00,  1.13it/s]

In [16]:
page_list2 = get_multi_page2(start_page = 1, end_page = 118)

 99%|███████████████████████████████████████████████████████████████████████████████▎| 117/118 [01:44<00:00,  1.12it/s]

In [17]:
df1 = pd.concat(page_list1)
df1.shape

(20000, 7)

In [18]:
df2 = pd.concat(page_list2)
df2.shape

(11624, 7)

In [28]:
df_all = pd.concat([df2,df1])
df_all.shape

(31624, 7)

In [30]:
df_all.head()

,0,1,2,3,4,5,6
0,<p class='corona19_no'>31624</p>,101749,2021-03-27,타시도,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>31623</p>,101745,2021-03-27,광진구,-,기타 확진자 접촉,<b class=''></b>
2,<p class='corona19_no'>31622</p>,101744,2021-03-27,광진구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>31621</p>,101725,2021-03-27,동작구,-,감염경로 조사중,<b class=''></b>
4,<p class='corona19_no'>31620</p>,101727,2021-03-27,타시도,-,타시도 확진자 접촉,<b class=''></b>

# 데이터 전처리

In [32]:
df_all.columns= ['연번', '환자', '확진일' ,'거주지', '여행력', '접촉력', '퇴원현황']

In [33]:
df_all.head()

,연번,환자,확진일,거주지,여행력,접촉력,퇴원현황
0,<p class='corona19_no'>31624</p>,101749,2021-03-27,타시도,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>31623</p>,101745,2021-03-27,광진구,-,기타 확진자 접촉,<b class=''></b>
2,<p class='corona19_no'>31622</p>,101744,2021-03-27,광진구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>31621</p>,101725,2021-03-27,동작구,-,감염경로 조사중,<b class=''></b>
4,<p class='corona19_no'>31620</p>,101727,2021-03-27,타시도,-,타시도 확진자 접촉,<b class=''></b>

In [34]:
import re
def extract_number(num_string):
    if type(num_string) == str:
        num_string = num_string.replace("corona19", "")
        num = re.sub("[^0-9]","", num_string)
        num = int(num)
        return num
    else:
        return num_string

In [36]:
def extract_hangeul(origin_text):
    subtract_text = re.sub("[^가-힣]","", origin_text)
    return subtract_text

In [35]:
df_all['연번'] = df_all['연번'].map(extract_number)

In [37]:
df_all['퇴원현황'] = df_all['퇴원현황'].map(extract_hangeul)

In [41]:
df_all['퇴원현황'].unique()

array(['', '사망', '퇴원'], dtype=object)

# 파일 저장

In [42]:
file_name = "seoul_covid19.csv"
file_name

'seoul_covid19.csv'

In [43]:
df_all.to_csv(file_name, index=False)

In [44]:
pd.read_csv(file_name)

          연번      환자         확진일  거주지 여행력         접촉력 퇴원현황
0      31624  101749  2021-03-27  타시도   -    감염경로 조사중  NaN
1      31623  101745  2021-03-27  광진구   -   기타 확진자 접촉  NaN
2      31622  101744  2021-03-27  광진구   -   기타 확진자 접촉  NaN
3      31621  101725  2021-03-27  동작구   -    감염경로 조사중  NaN
4      31620  101727  2021-03-27  타시도   -  타시도 확진자 접촉  NaN
...      ...     ...         ...  ...  ..         ...  ...
31619      5       9  2020-01-31  성북구   -   기타 확진자 접촉   퇴원
31620      4       7  2020-01-30  마포구  중국        해외유입   퇴원
31621      3       6  2020-01-30  종로구   -    종로구 집단발병   퇴원
31622      2       5  2020-01-30  중랑구  중국        해외유입   퇴원
31623      1       2  2020-01-24  강서구  중국        해외유입   퇴원

[31624 rows x 7 columns]