In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'A': range(1,11), 'B': np.random.randn(10)})
df

    A         B
0   1 -0.198562
1   2  1.111002
2   3 -0.308482
3   4 -0.148944
4   5 -0.867117
5   6  1.207101
6   7  0.383269
7   8 -0.822564
8   9  1.679242
9  10 -0.024705

In [6]:
df.assign(ln_A=lambda x : np.log(x.A))

    A         B      ln_A
0   1 -0.198562  0.000000
1   2  1.111002  0.693147
2   3 -0.308482  1.098612
3   4 -0.148944  1.386294
4   5 -0.867117  1.609438
5   6  1.207101  1.791759
6   7  0.383269  1.945910
7   8 -0.822564  2.079442
8   9  1.679242  2.197225
9  10 -0.024705  2.302585

In [10]:
df['ln_a'] = np.log(df.A)

In [11]:
df

    A         B      ln_A      ln_a
0   1 -0.198562  0.000000  0.000000
1   2  1.111002  0.693147  0.693147
2   3 -0.308482  1.098612  1.098612
3   4 -0.148944  1.386294  1.386294
4   5 -0.867117  1.609438  1.609438
5   6  1.207101  1.791759  1.791759
6   7  0.383269  1.945910  1.945910
7   8 -0.822564  2.079442  2.079442
8   9  1.679242  2.197225  2.197225
9  10 -0.024705  2.302585  2.302585

In [12]:
pd.qcut(range(5), 3, labels=['good', 'medium', 'bad'])

['good', 'good', 'medium', 'bad', 'bad']
Categories (3, object): ['good' < 'medium' < 'bad']

In [13]:
pd.qcut(df.A, 3, labels=['good', 'medium', 'bad'])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'medium' < 'bad']

In [14]:
pd.qcut(df.B, 2, labels=['good', 'bad'])

0    good
1     bad
2    good
3    good
4    good
5     bad
6     bad
7    good
8     bad
9     bad
Name: B, dtype: category
Categories (2, object): ['good' < 'bad']

In [16]:
df.max(axis=0)

A       10.000000
B        1.679242
ln_A     2.302585
ln_a     2.302585
dtype: float64

In [17]:
df.min(axis=1)

0   -0.198562
1    0.693147
2   -0.308482
3   -0.148944
4   -0.867117
5    1.207101
6    0.383269
7   -0.822564
8    1.679242
9   -0.024705
dtype: float64

In [23]:
df['A'].clip(lower=2, upper=8)

0    2
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    8
9    8
Name: A, dtype: int64

In [24]:
df['B'].abs()

0    0.198562
1    1.111002
2    0.308482
3    0.148944
4    0.867117
5    1.207101
6    0.383269
7    0.822564
8    1.679242
9    0.024705
Name: B, dtype: float64